.dashboard {
  @include dflex(flex-start, flex-start);
  &-aside {
    position: sticky;
    right: 0;
    top: 0;
    max-width: 26rem;
    background-color: rgba(color(g3-3), 0.7);
    height: 100vh;
    .aside-container {
    }
    .aside-header {
      background: #0d6efd;
      background: linear-gradient(90deg, #0d6efd, #408cfd);
      border-radius: 0 0 100% 100%/5em;
      padding: 1rem;
      &-search {
        padding-bottom: 1rem;
        &-form {
          @include dflex;
          background-color: rgba(color(light-1), 1);
          padding: 0px 0.2rem;
          border-radius: 2px;
        }
        &-input {
          // border: 2px solid red;
          padding: 2px;
          width: 100%;
          line-height: 3rem;
          background-color: transparent;
          font-size: 1.3rem;
          &:focus {
            outline: transparent;
            border: transparent;
            background-color: rgba(color(g3-1), 0.2);
            .aside-header-search-form {
              border: 1px solid red;
              display: none;
            }
          }
        }
        &-searchBtn {
          padding: 0.5rem;
          svg {
            path {
              fill: color(light-5);
            }
          }
          &:hover {
            svg {
              transform: scale(1.1);
              path {
                fill: color(g3-2);
              }
            }
          }
        }
      }
      &-logo {
        @include dflex;
        svg {
          max-width: 12rem;
          path {
            fill: color(light-2);
          }
        }
      }
    }
    .aside-content {
      &-list {
      }
      &-item {
        overflow: hidden;
        padding: 1rem;
        border-bottom: 2px solid rgba(color(g3-1), 0.7);
        // overflow: hidden;
        &-parent {
          background-color: rgba(color(g3-3), 0.7);
        }
        &-childs {
          direction: ltr;
          height: 100%;
          background-color: rgba(color(g3-3), 0.8);
          max-height: 30rem;
          overflow: auto;
          overflow-x: hidden;
          // &::-webkit-scrollbar {
          //   // background: red;
          //   border-radius: 5px;
          // }
          &-list {
            // overflow: hidden;
          }
        }
        a {
          @include dflex(space-between);
          .title {
            @include dflex(flex-start);
            gap: 0.3rem;
            img {
              width: 2rem;
              height: 2rem;
            }
            .text {
              color: color(light-2);
            }
          }
        }
        span {
          font-size: 1.5rem;
        }
        svg {
          path {
            fill: snow;
          }
        }
      }
    }
    .testingTransision {
      transition: all 200ms linear;
    }
    .openDashNav {
      height: 15rem;
    }
    .closeDashNav {
      height: 0rem;
    }
  }
  &-main {
  }
}
