.sliderSection {
  // border: 1px solid rgba(color(dark-2), 0.5);
  padding: 1em;
  .swiper {
    gap: 1rem;
    &-slide {
      max-width: 20em;
      height: auto;
      // background-color: color(light-1);
      color: color(dark-2);
    }
  }
}
