.account {
  max-width: 400px;
  margin: 3rem auto;
  border-radius: 10px;
  background-color: rgba(color(light-2), 0.5);
  @include blur-3;
  padding: 3em;
  &-nav {
    @include dflex(space-evenly);
    list-style: none;
    margin-bottom: 1em;
    &-item {
      border-bottom: 3px solid transparent;
      a {
        color: rgba(color(dark-2), 0.5);
        font-family: iranyekan;
        font-size: 2em;
      }
      &:hover {
        border-bottom: 3px solid rgba(color(g3-2), 0.5);
      }
    }
    .selectedNavItem {
      a {
        color: color(dark-2);
        border-bottom: color;
      }
    }
  }
  &-login {
    @include dflex;
    flex-direction: column;
    // gap: rem;
    &-title {
      margin-left: auto;
      margin-bottom: 1em;
      // border: 2px solid red;
      opacity: 0.7;
    }
    &-forgetPassword {
      @include dflex(flex-start);
      margin: -1em auto;
      // max-width: 300px;
      width: 100%;
      a {
        font-size: 1.2rem;
        color: color(g1-7);
      }
    }
  }
  &-signup {
    &-title {
      margin-bottom: 1em;
    }
    &-form {
      &-line {
        gap: 2em;
      }
    }
    &-link {
      // padding: 1rem;
      color: color(g1-7);
      width: 100%;
      .logIcon {
        width: 2rem;
        height: 2em;
        path {
          fill: color(g1-7);
        }
      }
      &-item {
        margin-right: auto;
        border-bottom: 2px solid rgba(color(g1-7), 0.7);
        padding: 0.3em 1em;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5em;
        cursor: pointer;
        &:hover {
          border: transparent;
          border-radius: 5px;
          color: color(light-2);
          background-color: rgba(color(g1-7), 0.7);

          .logIcon {
            path {
              fill: color(light-2);
            }
          }
        }
      }
    }
  }
}
