.closeIcon {
  width: 2.5rem;
  height: 2.5rem;
}
.arrowIcon {
  display: inline-flex;
  width: 1.1rem;
  height: 1.1rem;
  svg {
    width: 100%;
    height: 100%;
  }
}
.starIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.expansIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.likeIcon {
  width: 2rem;
  height: 2rem;
  path {
    stroke: color(dark-1);
    fill: color(dark-1);
  }
}
.plusIcon {
  width: 2rem;
  height: 2rem;
}
.minusIcon {
  width: 2rem;
  height: 2rem;
}
.trashIcon {
  width: 2rem;
  height: 2rem;
  &-one {
    fill: none;
    stroke: rgb(231, 42, 42);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 32px;
  }
  &-two {
    stroke: red;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 32px;
  }
}
.tomanIcon {
  width: 2rem;
  height: 2rem;
  // border: 1px solid red;
  display: inline;
  // enable-background: new 0 0 1706.035 1687.226;
  path {
    fill: red;
  }
}
.weightIcon {
  width: 2rem;
  padding: 0 0.3rem;
  path {
    fill: color(g1-2);
  }
}
.grindIcon {
  width: 2rem;
  path {
    fill: color(g1-2);
  }
}
.searchIcon {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  path {
    fill: color(dark-2);
  }
}
.clockIcon {
  width: 1.8rem;
  height: 1.8rem;
  enable-background: new 0 0 512 512;
  path {
    fill: color(dark-2);
  }
}
.profileIcon {
  width: 1.7rem;
  height: 1.7rem;
  enable-background: new 0 0 24 24;
  &-st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}
.faceBookIcon,
.instagramIcon,
.twitterIcon,
.whatsappIcon,
.telegramIcon,
.linkedInIcon {
  width: 2rem;
  height: 2rem;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}
//
.instagramIconColorful {
  enable-background: new 0 0 32 32;
  .st0 {
    fill: url(#SVGID_1_);
  }
  .st1 {
    fill: #ffffff;
  }
}
.copyrightIcon {
  width: 2rem;
  height: 2rem;
}
.menuIcon {
  height: 3.5rem;
  width: 3.5rem;
  stroke: #000000;
  stroke-width: 5px;
  path {
    fill: color(dark-2);
  }
}
.coffeeIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(dark-2);
  }
}
.coffeeMaker {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(dark-2);
  }
}
.drinkIcon {
  width: 2rem;
  height: 2rem;
  enable-background: new 0 0 32 32;
  path {
    fill: color(dark-2);
  }
}
.newsIcon {
  width: 2rem;
  height: 2rem;
  enable-background: new 0 0 32 32;
  path {
    fill: color(dark-2);
  }
}
.homeIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: none;
    stroke: "#000000";
  }
}
.newsIcon {
  width: 2rem;
  height: 2rem;
  enable-background: new 0 0 32 32;
  path {
    fill: color(dark-2);
  }
}
.categoriesIcon {
  width: 2rem;
  height: 2rem;
  enable-background: new 0 0 32 32;
  path {
    fill: color(dark-2);
  }
}
.shopIcon {
  width: 2.21rem;
  height: 2.2rem;
  enable-background: new 0 0 26 26;
  path {
    fill: color(dark-2);
  }
}
.backIcon {
  width: 2rem;
  height: 2rem;
  enable-background: new 0 0 512 512;
  path {
    fill: color(dark-2);
  }
}
.filterIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(dark-2);
  }
}
.sortIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(dark-2);
  }
}
.sunIcon {
  width: 2.21rem;
  height: 2.2rem;
  .cls-1 {
    fill: #f8b62d;
  }
  .cls-2 {
    fill: #231815;
  }
  .cls-3 {
    font-size: 161.72px;
    fill: #fff;
    stroke: #231815;
    stroke-miterlimit: 10;
    font-family: DINAlternate-Bold, DIN Alternate;
    font-weight: 700;
  }
  .cls-4 {
    letter-spacing: -0.02em;
  }
  .cls-5 {
    letter-spacing: -0.07em;
  }
}
.moonIcon {
  width: 2.21rem;
  height: 2.2rem;
  .cls-1 {
    font-size: 161.72px;
    stroke: #231815;
    stroke-miterlimit: 10;
    font-family: DINAlternate-Bold, DIN Alternate;
    font-weight: 700;
  }
  .cls-1,
  .cls-2 {
    fill: #fff;
  }
  .cls-3 {
    fill: #231815;
  }
  .cls-4 {
    fill: #f4ec90;
  }
}
.ideaIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(dark-2);
  }
}
.viewsIcon {
  width: 2rem;
  height: 2rem;
}
.mailIcon {
  width: 2rem;
  height: 2rem;
  stroke: color(dark-1);
  stroke-width: 2px;
}
.userIcon {
  width: 2rem;
  height: 2rem;
  stroke-width: 0.8px;
  stroke: #000000;
  path {
    fill: color(dark-2);
  }
}
.textIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(dark-2);
  }
}
.securityIcon {
  width: 2rem;
  height: 2rem;
  path:nth-child(1) {
    fill: color(dark-2);
  }
}
.replayIcon {
  width: 2rem;
  height: 2rem;
  path:nth-child(1) {
    fill: color(g1-7);
  }
}
.basketIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(color(dark-2));
  }
}
.shareIcon {
  width: 3rem;
  height: 3rem;
  .st0 {
    fill: color(dark-2);
  }
}
.logIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(dark-2);
  }
}
.infoIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(light-2);
  }
}
.errorIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(light-2);
  }
}
.warningIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(light-2);
  }
}
.successIcon {
  width: 2rem;
  height: 2rem;
  path {
    fill: color(light-2);
  }
}
.productIcon {
  .cls-1 {
    fill: none;
  }
}

.exitIcon {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}
.blogIcon {
  width: 2rem;
  height: 2rem;
}
.listIcon {
  width: 2em;
  height: 2em;
  path {
    fill: color(dark-3);
  }
}
.listIcon4 {
  width: 1.7em;
  height: 1.7em;
}
.listIcon3 {
  width: 1.8em;
  height: 1.8em;
}
.listIcon2 {
  width: 1.8em;
  height: 1.8em;
}
.listIcon1 {
  width: 2.1em;
  height: 2.1em;
}
.menuArrowIcon {
  // padding-top: 1em;
  margin-top: 0.5em;
  width: 1.5em;
  height: 1.5em;
}
.perPageIcon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5em;
}
.logoIcon {
  width: 20rem;
  height: 5rem;
  path {
    fill: #2fa6d1;
  }
}
.compareIcon {
  width: 2rem;
  height: 2rem;
}
.tickIcon {
  width: 1.5rem;
  height: 1.5rem;
  path {
    fill: green;
  }
}
.deliveryIcon {
  width: 2.5rem;
  height: 2.5rem;
}
.moneyIcon {
  width: 2.5rem;
  height: 2.5rem;
}
.guaranteeIcon {
  width: 2.5rem;
  height: 2.5rem;
}
.epmtyIcon {
  width: 8rem;
  height: 8rem;
}
.editIcon {
  width: 2rem;
  height: 2rem;
}
.commentIcon {
  width: 2rem;
  height: 2rem;
}
.addressIcon {
  width: 2rem;
  height: 2rem;
}
.giftIcon {
  width: 2rem;
  height: 2rem;
}
.notifIcon {
  width: 2rem;
  height: 2rem;
}
