.sliderSection {
  // border: 1px solid rgba(color(dark-2), 0.5);
  padding: 1em;
  &-loading {
    position: absolute;
    @include dflex;
    margin: auto;
    width: 100% !important;
    // height: 100% !important;
    min-width: 30em;
    .loadingSpiner {
      padding: 3em;
      border-radius: 5px;
      @include dflex;
      flex-direction: column;
      width: 30%;
      min-width: 20em;
      height: 100%;
      background-color: rgba(color(light-2), 0.7);
      @include blur-3;
      z-index: 10;
      &-text {
        color: color(dark-2);
      }
    }
    .swiper-slider {
      border: 2px solid red;
    }
  }
  .swiper {
    gap: 1rem;
    position: relative;
    @include dflex;
    &-slide {
      // opacity: 0.1;
      max-width: 20em;
      height: auto;
      // background-color: color(light-1);
      color: color(dark-2);
      @include responsive(xl) {
        max-width: 18em;
      }
      @include responsive(lg) {
        max-width: 17em;
      }
      @include responsive(md) {
        max-width: 16em;
      }
      @include responsive(sm) {
        max-width: 16em;
      }
    }
  }
}
