.backDrop {
  position: fixed;
  background-color: rgba(51, 51, 51, 0.317);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.dflex {
  @include dflex;
}
// .Modal {
//   &-enter {
//     opacity: 0;
//   }
//   &-enter-active {
//     opacity: 1;
//     transition: opacity 200ms;
//   }
//   &-exit {
//     opacity: 1;
//   }
//   &-exit-active {
//     opacity: 0;
//     transition: opacity 200ms;
//   }
// }

// .Modal {
//   border: 2px solid red;
// }
// .Modal-enter {
//   opacity: 0;
// }
// .Modal-enter-active {
//   opacity: 1;
//   transition: opacity 200ms;
// }
// .Modal-exit {
//   opacity: 1;
// }
// .Modal-exit-active {
//   opacity: 0;
//   transition: opacity 200ms;
// }
.testDiv {
  z-index: 10000;
  width: 10rem;
  height: 10rem;
  background-color: red;
}
.ModalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
  animation: closeModal 1s ease-out forwards;
}
@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.Form {
  width: 100%;
  // border: 2px solid red;
  &-action {
    // border: 2px solid red;
    // max-width: 300px;
    margin: 2em auto;
    @include dflex;
    gap: 1em;
    &-submit {
      cursor: pointer;
      font-family: iransans;
      padding: 0.2em 3em;
      border-radius: 3px;
      color: color(light-2);
      background-color: color(g1-2);
      border: transparent;
      // font-size: 1.5em;
      &:hover {
        background-color: rgba(color(g1-2), 0.9);
      }
    }
    &-secondary {
      cursor: pointer;
      font-family: iransans;
      border-radius: 3px;
      padding: 0.2em 1em;
      color: color(light-2);
      margin-left: auto;
      background-color: rgba(color(g1-7), 0.7);
      border: transparent;
      &:hover {
        background-color: rgba(color(g1-7), 0.65);
      }
    }
  }
}
.sideNotif {
  position: fixed;
  z-index: 100;
  top: 150px;
  left: 10px;
  // padding: 0.5em 2em;
  border-radius: 5px;
  color: color(light-1);
  &-header {
    @include dflex(space-between);
    height: 3em;
    padding: 0 0.5em;
    border-bottom: 2px solid rgba(color(light-1), 0.5);
    .closeIcon-svg {
      width: 2em;
      height: 2em;
      path {
        fill: color(light-1);
      }
    }
  }
  &-message {
    padding: 1em 3em;
    font-size: 1.5em;
  }
  &-success {
    animation: openModal 0.4s ease-out forwards;
    background-color: color(success);
  }
  &-loading {
    animation: openModal 0.4s ease-out forwards;
    background-color: color(info);
  }
  &-error {
    animation: openModal 0.4s ease-out forwards;
    background-color: color(error);
  }
  &-warning {
    animation: openModal 0.4s ease-out forwards;
    background-color: color(warning);
  }
  &-null {
    animation: closeModal 1s ease-out forwards;
  }
}
