.productsPage {
  width: 100%;
  padding: 0 1rem;
  &-body {
    width: 100%;
    @include dflex(flex-start, flex-start);
  }
  &-main {
    width: 100%;
    @include responsive(md) {
      max-width: 100%;
    }
  }
  &-aside {
    @include dflex(center, flex-start);
    flex-direction: column;
    gap: 1em;
    max-width: 24em;
    padding: 0px 1.5em;
  }
}
